@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&display=swap');

* { margin: 0; padding: 0; }

body {
  font: 'Playfair Display', serif;
  font-weight: 500;
  line-height: 24px;
}

#page-wrap {
  width: 800px;
  margin: 40px auto 60px;
}

header {
  text-align: center;
}

header a {
  text-decoration: none;
}

header a:visited {
  color:black;
}

h1 {
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
  font-size: 42px;
}

header p {
  display: inline-block;
  padding: 10px 15px 10px 10px;
}

#cell {
  border-right: 1px solid #999;
}


nav {
  border-bottom: 1px solid #999;
  text-align: center;
}

nav li{
  display: inline-block;
  list-style: none;
  list-style-position: inside;
  line-height: 100px;
}
nav li a{
  text-decoration: none;
  padding: 10px 15px;
  border: 2px solid #222;
}
nav li a:active {
  color: red;
}
nav li a:visited {
  color: rgb(88,40,130);
}
nav li a:hover {
  background-color: gray;
}

#sublist {
    text-align: center;
}

#sublist li {
  display:inline-grid;
  list-style: none;
  padding: 10px 15px;
}

section {
  display: grid;
  grid-template-columns: 225px 575px;
  grid-gap: 10px;
}

h2 {
  grid-column: 1/2;
  font-size: 18px;
  margin: 6px 0 6px 0;
  position: relative;
}

h2 span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-style: italic;
  font-family: 'Georgia', Serif;
  font-size: 16px;
  font-weight: normal;
}

p {
  margin: 0 0 16px 0;
}

main a {
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}
main a:hover {
  border-bottom-style: solid;
  color: #999;
}

div,ul {
  grid-column: 2/3;
  margin: 0 0 32px 17px;
}

section {
  margin-top: 10px;
  margin-bottom: 30px;
}

footer {
  display: grid;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  font-family: Georgia, Serif;
  background-color: #eee;
}
#returntotop {
  text-align: center;
}
