@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&display=swap');

* { margin: 0; padding: 0; }

body {
  font: 16px 'Playfair Display', serif;;
  line-height: 24px;
}

.clear {
  clear: both;
}

#page-wrap {
  width: 800px;
  margin: 40px auto 60px;
}

header {
  border-bottom: 1px solid #999;
}

h1 {
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
  font-size: 42px;
}

header p {
  display: inline-block;
  padding: 10px 15px;
}

#cell {
  border-right: 1px solid #999;
}

nav li {
  background-color: #fff;
  list-style: none;
  display: inline-block;
  line-height: 100px;
}
nav li a {
  text-decoration: none;
  padding: 10px 15px;
  border: 2px solid #222;
}
nav li a:active {
  color: red;
}
nav li a:visited {
  color: rgb(88,40,130);
}
nav li a:hover {
  background-color: #eee;
}

section {
  display: grid;
  grid-template-columns: 225px 575px;
}

h2 {
  grid-column: 1/2;
  font-size: 18px;
  margin: 6px 0 6px 0;
  position: relative;
}

h2 span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-style: italic;
  font-family: Georgia, Serif;
  font-size: 16px;
  font-weight: normal;
}

p {
  margin: 0 0 16px 0;
}

main a {
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}
main a:hover {
  border-bottom-style: solid;
  color: #999;
}

dd,ul {
  grid-column: 2/3
  margin: 0 0 32px 17px;
}

dd.clear {
  float: none;
  margin: 0;
  height: 20px;
}

footer {
  padding-left: 350px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Georgia, Serif;
  background-color: #eee;
}
